
C++/modoocode/Complex/.vs/Complex/FileContentIndex/21cd9454-4170-4ca3-a8b0-00cef0b869c7.vsidx
C++/modoocode/Complex/.vs/Complex/FileContentIndex/5de06bca-aa99-4705-9713-12abc6d46f37.vsidx
C++/modoocode/Complex/.vs/Complex/v17/Browse.VC.opendb
C++/modoocode/MyString/.vs/MyString/FileContentIndex/be5a2c3c-553a-428a-9599-29c12c252041.vsidx
C++/modoocode/MyString/.vs/MyString/FileContentIndex/ac7da49e-c511-47c6-bf8b-0614a187ef28.vsidx
C++/modoocode/MyString/.vs/MyString/FileContentIndex/7a5fea6a-07ca-471f-8f64-25e02583593e.vsidx
C++/modoocode/MyString/.vs/MyString/FileContentIndex/728c705d-dba4-4c2b-8afd-4c015c91ff15.vsidx
C++/modoocode/MyString/.vs/MyString/FileContentIndex/67aa4e8d-56d6-4953-9c49-06573ef28f83.vsidx
C++/modoocode/MyString/.vs/MyString/FileContentIndex/56fed869-6291-4757-bc26-7db130122ea4.vsidx
*.vsidx
*.vsidx
*.opendb
