
C++/modoocode/Complex/.vs/Complex/FileContentIndex/21cd9454-4170-4ca3-a8b0-00cef0b869c7.vsidx
C++/modoocode/Complex/.vs/Complex/FileContentIndex/5de06bca-aa99-4705-9713-12abc6d46f37.vsidx
C++/modoocode/Complex/.vs/Complex/v17/Browse.VC.opendb
